@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.primary-color {
  background-color: #0A1C3E;
}

.title{
  font-weight: 500;
}

.text-white {
  font-family: 'Rubik', sans-serif;
}